local_settings.py
media
*.pyc
.DS_Store
.DS_Store?
._*
.Trashes
Thumbs.db
/static/
/logs/
gunicorn_start
supervisor*.conf
/docs/
/logs/
sitemap.xml
_build
_static
_templates
Makefile
make.bat
conf.py
index.rst
nodejs/node_modules
